@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}

.banner1 {
  display: flex;
  height: 500px;
  /* background-color: aqua; */
}

.banner1-leftHalf {
  width: 70%;
  background: url(img/profie.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 550px;
}

.banner1-leftHalf-txt {
  margin: 15em 0 0 0;
}

.banner1-leftHalf-txt h3 {
  font-size: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px 2px rgb(16 16 16 / 57%);
  font-weight: 900;
}

.banner1-leftHalf-txt p {
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Ubuntu", sans-serif;
}

.banner1-rightHalf {
  width: 30%;
  background: url(img/banner1.jpg) no-repeat 0px 0px;
  background-size: cover;
  min-height: 550px;
}

.skill-heading {
  display: flex;
  align-items: center;
  padding: 20px 70px;
  font-size: 50px;
  color: #04b962c7;
}
.skill-heading p {
  color: #fff;
}

.skill {
  display: flex;
  padding: 20px 50px;
}

.skill-icons {
  padding: 20px 30px;
  color: #04b962c7;
  font-size: 50px;
}

.skill-text {
  padding: 20px;
  color: #fff;
  font-size: 50px;
}
